@import '../styles';

md-sidenav-container {

	.mat-sidenav-content {
		md-toolbar {
			md-toolbar-row {
				color:white;	
			}
		
		}	

		> .container {
			width:800px;
			padding:40px;
			margin:auto;
			
			h3 {
				border-bottom:1px solid #ccc;
			}

		}
	}

}



