<md-sidenav-container>
  <md-sidenav #sidenav mode="side">

    <ul>
      <li><a href="#">New arrivals</a></li>
      <li><a href="#">Not the best</a></li>
      <li><a href="#">Give em a try</a></li>
    </ul>

  </md-sidenav>

  <md-toolbar color="primary">
    <button (click)="sidenav.toggle()" md-button><md-icon>menu</md-icon></button>
    <div class="filler"></div>
    <h3>Adopt-A-Carrot</h3>
    <div class="filler"></div>
  </md-toolbar>

  <div class="container">

   <h3>Application</h3>

  <form>
    <md-input-container>
      <input mdInput placeholder="Customer Name" value="">
      <md-hint align="start">Your name</md-hint>
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Phone" value="">
      <md-hint align="start">Format: ### ###-####</md-hint>
    </md-input-container>    

    <md-input-container>
      <input mdInput placeholder="Email" value="">
      <md-hint align="start">Example: info@iamsap.com</md-hint>
    </md-input-container>    

    <md-select placeholder="Preferred contact method">
      <md-option value="Email">Email</md-option>
      <md-option value="Phone">Phone</md-option>
    </md-select>

    <md-checkbox>Subscribe to our newsletter!</md-checkbox>

   </form>

   <button md-raised-button color="primary">Submit</button>
   <button md-button>Cancel</button>

  </div>

</md-sidenav-container>
