@import '../styles';

md-sidenav-container {
  height: 100vh;
  md-sidenav {
    .logo {
      padding: 16px;
      margin: auto;

      h5 {
        margin: 0px;
        padding: 4px;
        font-family: 'Roboto';
      }

    }
  }

  .mat-toolbar {
    padding:0px;
    min-height:inherit;

    > .mat-toolbar-layout {
      > .mat-toolbar-row {
        background:mat-color($mat-grey, 700);
        height:inherit;
        > button {
          min-width:inherit;
          color:white;
        }

        svg {
          margin:auto;
        }

        h5 {
          margin:0px;
          padding:0px;
          color:white;
          margin-right:auto;
          margin-left:0px;
        }
      }
    }
  }

  .main-banner {
    background: mat-color($carrot-app-primary, 500);
    height: 265px;
    position:relative;
    text-align:center;

    > svg {
      margin-top:40px;
    }

    .main-banner-text {
      position:absolute;
      width:400px;
      top: 50%;
      transform: translateY(-50%);
      left:calc(50% - 200px);

      h2 {
        color:white;
        padding:0px;
        margin:0px;
        font-family: 'Roboto';
        font-size:32px;
        margin-bottom:16px;
      }

      p {
        font-size:12px;
        color:white;
        padding:0px;
        margin:0px;
        font-family: 'Roboto';
        line-height:18px;
      }
    }

  }

  .mat-tab-labels {
    background:mat-color($mat-grey, 200);
  }


  .container {

    width:90%;
    margin:auto;

    md-card {
      width:340px;
      float:left;
      margin-right:20px;
      margin-bottom:20px;
    }

  }

}

// .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button
