@import '../styles';

.app-component {
  .title-bar {
    background: $grey-dark;
    color: white;
    text-align: center;
    padding: $padding-sm;
    > h1 {
      display: inline-block;
      font-size: $font-lg;
      padding: 0px;
      margin: 0px;
      top: -4px;
      position: relative;
    }

    > svg {
      display: inline-block;
    }
  }

  #subnav {
    list-style-type:none;
    width:100%;
    text-align:center;
    padding:4px;
    margin:0px;
    background:$grey;
    li {
      display:inline;
      margin-right:8px;
      font-size:12px;
      a {
        text-decoration:none;
        text-transform: uppercase;
        color:white;
      }
    }
  }

  .spotlight {
    background:$orange;
    clear: both;
    width: 100%;

    .featured-carrot {
      margin: auto;
      width: 600px;
      margin-bottom:$padding-lg;
      padding:$padding-lg;

      h3 {
        color:white;
        margin:0px;
        padding:0px;
        margin-bottom:$padding-md;
      }

      .img {
        height: 200px;
        background-size: cover;
      }

      h5 {
        margin-bottom:0px;
        padding-bottom:$padding-xs;
        font-size:$font-lg;
        > a {
          color:#FFF3E0;
        }
      }

      p {
        margin:0px;
        padding:0px;
        font-size:$font-sm;
        color:white;
      }
    }
  }

  .products {
    width:800px;
    margin:auto;

    .menu {
      width:400px;
      margin-right:$padding-lg;

      ul {
        list-style-type:none;
        li {
          margin-bottom:$padding-sm;
        }
      }
    }

    .products-grid {

      .product {
        float:left;
        width:200px;
        height:300px;
        margin-right:$padding-md;

        .img {
          height:200px;
          width:200px;
          background-size:cover;
        }
      }
    }
  }

}
