<div class="home">
  <md-tab-group position="0">
    <md-tab label="DEALS">

      <div class="loading" *ngIf="isLoading">
        <md-progress-spinner mode="indeterminate" color="accent"></md-progress-spinner>
      </div>

      <md-grid-list cols="4" *ngIf="!isLoading">

        <md-grid-tile *ngFor="let carrot of carrots">

          <div class="carrot-container">
            <div class="carrot" [ngStyle]="{'background-image':'url(' + carrot.imagePath + ')'}">

            </div>
            <div class="carrot-commands">
              <a [routerLink]="'carrots/' + carrot.id" class="link">{{carrot.name}}</a>
              <div class="filler"></div>
              <button class="favorite" md-button color="accent">
                <md-icon>favorite</md-icon>
              </button>
            </div>
          </div>

        </md-grid-tile>
      </md-grid-list>

    </md-tab>
    <md-tab label="ABOUT TO SPOIL"></md-tab>
    <md-tab label="NOT THE BEST...BUT"></md-tab>
    <md-tab label="DISCOUNTED"></md-tab>
  </md-tab-group>
</div>
