@import '~@angular/material/theming';
@include mat-core();

// Define the theme.
$carrots-app-primary: mat-palette($mat-green);
$carrots-app-accent:  mat-palette($mat-cyan, A400, A100, A200);
$carrots-app-theme:   mat-light-theme($carrots-app-primary, $carrots-app-accent);

@include angular-material-theme($carrots-app-theme);

// Include the theme styles for only specified components.
@include mat-core-theme($carrots-app-theme);
@include mat-button-theme($carrots-app-theme);
@include mat-checkbox-theme($carrots-app-theme);

html, body, md-sidenav-container {
  margin: 0;
  height:100vh;
}

.flexbox {
  display:flex;
}

.filler {
  visibility: hidden;
  flex-grow: 1;
}
