@import '~@angular/material/theming';
@include mat-core();

$carrot-app-primary: mat-palette($mat-orange);
$carrot-app-accent:  mat-palette($mat-light-green);
$carrot-app-warn:    mat-palette($mat-red);
$carrot-app-theme: mat-light-theme($carrot-app-primary, $carrot-app-accent, $carrot-app-warn);

@include angular-material-theme($carrot-app-theme);

$padding-xs:4px;
$padding-sm:8px;
$padding-md:16px;
$padding-lg:24px;
$padding-xl:40px;

html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.flexbox {
  display:flex;
}

.filler {
  visibility: hidden;
  flex-grow: 1;
}


